.cssHead {
    background-color: #da251c;
    padding: 0%;

}

.headlogo1 {
    width: 180px;
    margin: 0%;
    height: 50px;
    background-color: #f0ecec;
}

.logo {
    height: 50px;
    width: 120px;
    margin-left: 30px;
}

.defaultpfp {
    height: 45px;
    margin-right: 40px;
}

.profile {
    background-color: #da251c;
}

.profile-menu {
    width: 350px;
    height: 230px;
    padding: 0%;
}

.profile-option {
    height: 115px;
    background-image: url('../../assets/profile-bg.jpg');
}

.defaultpfp2 {
    height: 65px;
}

.userDataa {
    padding-left: 70px;
    padding-top: 10px;
}


.defaultpfp3 {
    height: 45px;
    margin-top: -10px;
}

.service-btns {
    padding: 0;
}

.service-btns li {
    list-style: none;
    display: inline-block;
}

.service-btns li a {
    display: inline-block;
    position: relative;
    color: white;
    padding: 16px 0;
    background: #cc241c;
    outline: none;
    width: 140px;
    text-align: center;
    font-size: 12px;
    transition: .3s;
}

.service-btns li a:hover,
.service-btns li .active {
    background: #183985;
    transition: .3s;
}

.top-search-bar form input {
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-right: 45px;
}

.top-search-bar form input::-webkit-input-placeholder {
    color: white;
}


.profile-list--data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 30px;
    border-bottom: 1px solid rgba(241, 242, 241, 0.5);
}

.notification--list-body-text.profile > h6 {
    margin-bottom: 0;
    font-weight: 400;
    -webkit-transition-duration: 400;
    -o-transition-duration: 400;
    transition-duration: 400;
}

.profile-list--data:hover .notification--list-body-text.profile1 > h6 {
    color: #183985;
}

.profile-list--data:last-child {
    border-bottom: none;
}


.profile--list-icon > i {
    color: #999;
    font-size: 14px;
    border: 1px solid #ebebeb;
    height: 30px;
    border-radius: 50%;
    width: 30px;
    line-height: 28px;
    text-align: center;
}